<h1 align="center"> T20 World Cup Cricket Data Pre Processing </h1>

In [112]:
import numpy as np
import pandas as pd
import json
import re

<h4 style="color:blue">(1) Process Match Results</h4>

In [30]:
df1 = pd.read_json("t20_json_files/t20_wc_match_results.json")

In [31]:
df1["matchSummary"][0]

[{'team1': 'Namibia',
  'team2': 'Sri Lanka',
  'winner': 'Namibia',
  'margin': '55 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 16, 2022',
  'scorecard': 'T20I # 1823'},
 {'team1': 'Netherlands',
  'team2': 'U.A.E.',
  'winner': 'Netherlands',
  'margin': '3 wickets',
  'ground': 'Geelong',
  'matchDate': 'Oct 16, 2022',
  'scorecard': 'T20I # 1825'},
 {'team1': 'Scotland',
  'team2': 'West Indies',
  'winner': 'Scotland',
  'margin': '42 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 17, 2022',
  'scorecard': 'T20I # 1826'},
 {'team1': 'Ireland',
  'team2': 'Zimbabwe',
  'winner': 'Zimbabwe',
  'margin': '31 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 17, 2022',
  'scorecard': 'T20I # 1828'},
 {'team1': 'Namibia',
  'team2': 'Netherlands',
  'winner': 'Netherlands',
  'margin': '5 wickets',
  'ground': 'Geelong',
  'matchDate': 'Oct 18, 2022',
  'scorecard': 'T20I # 1830'},
 {'team1': 'Sri Lanka',
  'team2': 'U.A.E.',
  'winner': 'Sri Lanka',
  'margin': '79 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 18, 2022',
  'scorecard': 'T20I # 1832'},
 {'team1': 'Ireland',
  'team2': 'Scotland',
  'winner': 'Ireland',
  'margin': '6 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 19, 2022',
  'scorecard': 'T20I # 1833'},
 {'team1': 'West Indies',
  'team2': 'Zimbabwe',
  'winner': 'West Indies',
  'margin': '31 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 19, 2022',
  'scorecard': 'T20I # 1834'},
 {'team1': 'Netherlands',
  'team2': 'Sri Lanka',
  'winner': 'Sri Lanka',
  'margin': '16 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 20, 2022',
  'scorecard': 'T20I # 1835'},
 {'team1': 'Namibia',
  'team2': 'U.A.E.',
  'winner': 'U.A.E.',
  'margin': '7 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 20, 2022',
  'scorecard': 'T20I # 1836'},
 {'team1': 'Ireland',
  'team2': 'West Indies',
  'winner': 'Ireland',
  'margin': '9 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 21, 2022',
  'scorecard': 'T20I # 1837'},
 {'team1': 'Scotland',
  'team2': 'Zimbabwe',
  'winner': 'Zimbabwe',
  'margin': '5 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 21, 2022',
  'scorecard': 'T20I # 1838'},
 {'team1': 'Australia',
  'team2': 'New Zealand',
  'winner': 'New Zealand',
  'margin': '89 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 22, 2022',
  'scorecard': 'T20I # 1839'},
 {'team1': 'Afghanistan',
  'team2': 'England',
  'winner': 'England',
  'margin': '5 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 22, 2022',
  'scorecard': 'T20I # 1840'},
 {'team1': 'Ireland',
  'team2': 'Sri Lanka',
  'winner': 'Sri Lanka',
  'margin': '9 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 23, 2022',
  'scorecard': 'T20I # 1841'},
 {'team1': 'India',
  'team2': 'Pakistan',
  'winner': 'India',
  'margin': '4 wickets',
  'ground': 'Melbourne',
  'matchDate': 'Oct 23, 2022',
  'scorecard': 'T20I # 1842'},
 {'team1': 'Bangladesh',
  'team2': 'Netherlands',
  'winner': 'Bangladesh',
  'margin': '9 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 24, 2022',
  'scorecard': 'T20I # 1843'},
 {'team1': 'South Africa',
  'team2': 'Zimbabwe',
  'winner': 'no result',
  'margin': '',
  'ground': 'Hobart',
  'matchDate': 'Oct 24, 2022',
  'scorecard': 'T20I # 1844'},
 {'team1': 'Australia',
  'team2': 'Sri Lanka',
  'winner': 'Australia',
  'margin': '7 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 25, 2022',
  'scorecard': 'T20I # 1845'},
 {'team1': 'England',
  'team2': 'Ireland',
  'winner': 'Ireland',
  'margin': '5 runs',
  'ground': 'Melbourne',
  'matchDate': 'Oct 26, 2022',
  'scorecard': 'T20I # 1846'},
 {'team1': 'Afghanistan',
  'team2': 'New Zealand',
  'winner': 'abandoned',
  'margin': '',
  'ground': 'Melbourne',
  'matchDate': 'Oct 26, 2022',
  'scorecard': 'T20I # 1846a'},
 {'team1': 'Bangladesh',
  'team2': 'South Africa',
  'winner': 'South Africa',
  'margin': '104 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 27, 2022',
  'scorecard': 'T20I # 1847'},
 {'team1': 'India',
  'team2': 'Netherlands',
  'winner': 'India',
  'margin': '56 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 27, 2022',
  'scorecard': 'T20I # 1848'},
 {'team1': 'Pakistan',
  'team2': 'Zimbabwe',
  'winner': 'Zimbabwe',
  'margin': '1 run',
  'ground': 'Perth',
  'matchDate': 'Oct 27, 2022',
  'scorecard': 'T20I # 1849'},
 {'team1': 'Afghanistan',
  'team2': 'Ireland',
  'winner': 'abandoned',
  'margin': '',
  'ground': 'Melbourne',
  'matchDate': 'Oct 28, 2022',
  'scorecard': 'T20I # 1849a'},
 {'team1': 'Australia',
  'team2': 'England',
  'winner': 'abandoned',
  'margin': '',
  'ground': 'Melbourne',
  'matchDate': 'Oct 28, 2022',
  'scorecard': 'T20I # 1849b'},
 {'team1': 'New Zealand',
  'team2': 'Sri Lanka',
  'winner': 'New Zealand',
  'margin': '65 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 29, 2022',
  'scorecard': 'T20I # 1850'},
 {'team1': 'Bangladesh',
  'team2': 'Zimbabwe',
  'winner': 'Bangladesh',
  'margin': '3 runs',
  'ground': 'Brisbane',
  'matchDate': 'Oct 30, 2022',
  'scorecard': 'T20I # 1851'},
 {'team1': 'Netherlands',
  'team2': 'Pakistan',
  'winner': 'Pakistan',
  'margin': '6 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 30, 2022',
  'scorecard': 'T20I # 1852'},
 {'team1': 'India',
  'team2': 'South Africa',
  'winner': 'South Africa',
  'margin': '5 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 30, 2022',
  'scorecard': 'T20I # 1853'},
 {'team1': 'Australia',
  'team2': 'Ireland',
  'winner': 'Australia',
  'margin': '42 runs',
  'ground': 'Brisbane',
  'matchDate': 'Oct 31, 2022',
  'scorecard': 'T20I # 1855'},
 {'team1': 'Afghanistan',
  'team2': 'Sri Lanka',
  'winner': 'Sri Lanka',
  'margin': '6 wickets',
  'ground': 'Brisbane',
  'matchDate': 'Nov 1, 2022',
  'scorecard': 'T20I # 1856'},
 {'team1': 'England',
  'team2': 'New Zealand',
  'winner': 'England',
  'margin': '20 runs',
  'ground': 'Brisbane',
  'matchDate': 'Nov 1, 2022',
  'scorecard': 'T20I # 1858'},
 {'team1': 'Netherlands',
  'team2': 'Zimbabwe',
  'winner': 'Netherlands',
  'margin': '5 wickets',
  'ground': 'Adelaide',
  'matchDate': 'Nov 2, 2022',
  'scorecard': 'T20I # 1859'},
 {'team1': 'Bangladesh',
  'team2': 'India',
  'winner': 'India',
  'margin': '5 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 2, 2022',
  'scorecard': 'T20I # 1860'},
 {'team1': 'Pakistan',
  'team2': 'South Africa',
  'winner': 'Pakistan',
  'margin': '33 runs',
  'ground': 'Sydney',
  'matchDate': 'Nov 3, 2022',
  'scorecard': 'T20I # 1861'},
 {'team1': 'Ireland',
  'team2': 'New Zealand',
  'winner': 'New Zealand',
  'margin': '35 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 4, 2022',
  'scorecard': 'T20I # 1862'},
 {'team1': 'Australia',
  'team2': 'Afghanistan',
  'winner': 'Australia',
  'margin': '4 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 4, 2022',
  'scorecard': 'T20I # 1864'},
 {'team1': 'England',
  'team2': 'Sri Lanka',
  'winner': 'England',
  'margin': '4 wickets',
  'ground': 'Sydney',
  'matchDate': 'Nov 5, 2022',
  'scorecard': 'T20I # 1867'},
 {'team1': 'Netherlands',
  'team2': 'South Africa',
  'winner': 'Netherlands',
  'margin': '13 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 6, 2022',
  'scorecard': 'T20I # 1871'},
 {'team1': 'Bangladesh',
  'team2': 'Pakistan',
  'winner': 'Pakistan',
  'margin': '5 wickets',
  'ground': 'Adelaide',
  'matchDate': 'Nov 6, 2022',
  'scorecard': 'T20I # 1872'},
 {'team1': 'India',
  'team2': 'Zimbabwe',
  'winner': 'India',
  'margin': '71 runs',
  'ground': 'Melbourne',
  'matchDate': 'Nov 6, 2022',
  'scorecard': 'T20I # 1873'},
 {'team1': 'New Zealand',
  'team2': 'Pakistan',
  'winner': 'Pakistan',
  'margin': '7 wickets',
  'ground': 'Sydney',
  'matchDate': 'Nov 9, 2022',
  'scorecard': 'T20I # 1877'},
 {'team1': 'England',
  'team2': 'India',
  'winner': 'England',
  'margin': '10 wickets',
  'ground': 'Adelaide',
  'matchDate': 'Nov 10, 2022',
  'scorecard': 'T20I # 1878'},
 {'team1': 'England',
  'team2': 'Pakistan',
  'winner': 'England',
  'margin': '5 wickets',
  'ground': 'Melbourne',
  'matchDate': 'Nov 13, 2022',
  'scorecard': 'T20I # 1879'}]

In [32]:
df1 = pd.DataFrame(df1["matchSummary"][0])

In [33]:
df1.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [39]:
df1.shape

(45, 7)

In [40]:
df1.rename({'scorecard': 'match_id'}, axis=1, inplace=True)

In [41]:
df1.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [189]:
df1.to_csv('t20_csv_files/match_summary.csv', index=False)

<h4 style="color:blue">(2) Process Batting Summary</h4>

In [42]:
df2 = pd.read_json('t20_json_files/t20_wc_batting_summary.json')

In [119]:
all_matches = []

for match in df2.values:
    all_matches.extend(match[0])

In [83]:
df2 = pd.DataFrame(all_matches)
df2.head(12)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/†Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c †Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis†,c †Green b Wiese,6,6,0,0,100.00
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c †Green b Shikongo,0,1,0,0,0.00

In [84]:
df2['out/not_out']  = np.where(df2['dismissal'] == "", 'not_out', 'out')

In [86]:
df2.head(30)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/†Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c †Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis†,c †Green b Wiese,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c †Green b Shikongo,0,1,0,0,0.00,out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,2,0,95.23,out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),c †Green b Frylinck,29,23,2,1,126.08,out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,0,0,50.00,out
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,c Baard b Smit,5,8,0,0,62.50,out
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,run out (van Lingen/†Green),0,0,0,0,-,out
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,c Erasmus b Wiese,8,15,0,0,53.33,out
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,,11,11,0,1,100.00,not_out
19,U.A.E. Vs Netherlands,U.A.E.,1,Chirag Suri,c †Edwards b van der Merwe,12,20,1,0,60.00,out
20,U.A.E. Vs Netherlands,U.A.E.,2,Muhammad Waseem,c Pringle b Klaassen,41,47,1,2,87.23,out
21,U.A.E. Vs Netherlands,U.A.E.,3,Kashif Daud,b Pringle,15,14,0,1,107.14,out
22,U.A.E. Vs Netherlands,U.A.E.,4,Vriitya Aravind†,c Klaassen b de Leede,18,21,0,0,85.71,out
23,U.A.E. Vs Netherlands,U.A.E.,5,Zawar Farid,run out (Ackermann/†Edwards),2,4,0,0,50.00,out
24,U.A.E. Vs Netherlands,U.A.E.,6,Basil Hameed,c van der Merwe b de Leede,4,4,1,0,100.00,out
25,U.A.E. Vs Netherlands,U.A.E.,7,Chundangapoyil Rizwan(c),b de Leede,1,2,0,0,50.00,out
26,U.A.E. Vs Netherlands,U.A.E.,8,Aayan Afzal Khan,c Cooper b Klaassen,5,7,0,0,71.42,out
27,U.A.E. Vs Netherlands,U.A.E.,9,Karthik Meiyappan,,0,0,0,0,-,not_out
28,U.A.E. Vs Netherlands,U.A.E.,10,Junaid Siddique,,0,1,0,0,0.00,not_out
29,U.A.E. Vs Netherlands,Netherlands,1,Vikramjit Singh,b Basil Hameed,10,7,2,0,142.85,out

In [111]:
df2.drop('dismissal', axis=1, inplace=True)

In [120]:
df2.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out

In [156]:
def clean_name(name):
    clean_name = ''
    for i in name:
        if i.isalpha() or i==" ":
            clean_name += i
        else:
            break
            
    return clean_name

In [159]:
df2["batsmanName"] = df2["batsmanName"].apply(clean_name)

In [168]:
df2.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,20,24,0,0,83.33,out

In [169]:
df1.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [182]:
match_id_dict = {}

for index, row in df1.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_id_dict[key1] = row['match_id']
    match_id_dict[key2] = row['match_id']
    
match_id_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

In [186]:
df2['match_id'] = df2['match'].map(match_id_dict)

In [188]:
df2.sample(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
282,Bangladesh Vs Netherlands,Netherlands,6,Scott Edwards,16,24,1,0,66.66,out,T20I # 1843
23,U.A.E. Vs Netherlands,U.A.E.,5,Zawar Farid,2,4,0,0,50.00,out,T20I # 1825
144,Sri Lanka Vs Netherlands,Sri Lanka,2,Kusal Mendis,79,44,5,5,179.54,out,T20I # 1835
425,Netherlands Vs Pakistan,Netherlands,9,Logan van Beek,6,9,0,0,66.66,not_out,T20I # 1852
580,Australia Vs Afghanistan,Australia,6,Glenn Maxwell,54,32,6,2,168.75,not_out,T20I # 1864
374,Zimbabwe Vs Pakistan,Pakistan,5,Shadab Khan,17,14,0,1,121.42,out,T20I # 1849
36,U.A.E. Vs Netherlands,Netherlands,8,Tim Pringle,15,16,0,0,93.75,out,T20I # 1825
395,New Zealand Vs Sri Lanka,Sri Lanka,8,Wanindu Hasaranga de Silva,4,6,1,0,66.66,out,T20I # 1850
193,Scotland Vs Zimbabwe,Scotland,7,Chris Greaves,3,7,0,0,42.85,not_out,T20I # 1838
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,20,24,0,0,83.33,out,T20I # 1823

In [190]:
df2.to_csv('t20_csv_files/batting_summary.csv', index=False)

In [191]:
df3 = pd.read_json('t20_json_files/t20_wc_bowling_summary.json')

In [200]:
matches2 = []

for roc in df3['bowlingSummary'].values:
    matches2.extend(roc)

In [202]:
df3 = pd.DataFrame(matches2)

In [203]:
df3.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [204]:
df3["bowlerName"] = df3["bowlerName"].apply(clean_name)

In [205]:
df3['match_id'] = df3['match'].map(match_id_dict)

In [206]:
df3.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823

In [207]:
df3.to_csv('t20_csv_files/bowling_summary.csv', index=False)

In [208]:
df4 = pd.read_json('t20_json_files/t20_wc_player_info.json')

In [209]:
df4

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c)†,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [210]:
df4["name"] = df4["name"].apply(clean_name)

In [211]:
df4

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [212]:
df4[df4['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
127,KL Rahul,India,Right hand Bat,,Opening Batter,"A tall, elegant right-hand batsman who can kee..."
128,Rohit Sharma,India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
129,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...
130,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...
131,Axar Patel,India,Left hand Bat,Slow Left arm Orthodox,Bowling Allrounder,Left-arm spinner Axar Patel has been increasin...
132,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,Hardik Pandya swears by living life king size ...
133,Dinesh Karthik,India,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Not many would forget the sight of Dinesh Kart...
134,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,R Ashwin took the tricks and skills he learned...
135,Bhuvneshwar Kumar,India,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
136,Arshdeep Singh,India,Left hand Bat,Left arm Medium fast,Bowler,
137,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
192,Deepak Hooda,India,Right hand Bat,Right arm Offbreak,Allrounder,"An allrounder who can bat in any position, Dee..."
211,Rishabh Pant,India,Left hand Bat,,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."

In [213]:
df4.to_csv('t20_csv_files/player_info.csv', index=False)

## Thank You